.root-container {
    padding: 50px;
    margin: 50px;
}

.total-row {
    height: 50%;
    background-color: grey;
    padding-top: 7px;
    color: white;
    text-align: center;
}

.frame-total-data {
    text-align: center;
    padding-top: 8px;
}

.bowl-frame {
    float: left;
    /*padding: 7px;*/
    margin: 1px;
    border: solid black 1px;
    height: 100px;
    width: 100px;
}

.container {
    margin-top: 50px;
}

.pin-label {
    margin-right: 8px;
}

.stop-game-div {
    margin-top: 40px;
    margin-bottom: 10px;
}

.frame-parent-div {
    padding: 2px;
    height: 100px;
    width: 100px;
    border: 1px solid black
}

.frame-left-div {
    float: left;
    height: 47px;
    width: 47px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.frame-right-div {
    float: right;
    height: 47px;
    width: 47px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;

}

.frame-container {
    float: left;
    margin: 1px;
    padding: 1px;
}
.frame-total-div {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 55px;
    color: blue;
}

.frame-total-data {
    font-size: 22px;
    font-weight: bold;
    color: blue;
}