<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Frames</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">

<body>

<div class="container">

    <h2 style="color: darkblue">Game Over</h2>
    <br>
    <h3>Your score is <span style="color: blue" th:text="${score}"></span></h3>
    <br>
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/start-game" role="button">New Game</a>

</div>

</body>

</html>